.section-faq {
    details {
        background-color: var(--color-white);
        padding: calc(var(--grid-gap) / 3);
        margin-bottom: calc(var(--grid-gap) / 2);
        border-radius: calc(var(--border-radius) / 2);
        summary {
            cursor: pointer; 
            list-style-type: '+';
            span {
                display: inline-block;
                padding-left: .5rem;
            }
        }
        &[open] {
            summary {
                list-style-type: '-';
            }
        }
    }
}
